nav{
    display: flex;
    justify-content: space-between;
    padding: 4px 0;
    color: #fff;
    font-weight: bold;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index:1 ;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 15px;
  }

.logo img{
    width: 150px;
}

nav ul li:hover{
    text-decoration: underline;
    color: gold;
    cursor: pointer;
    transition: .2s;
}

.dark-nav{
    background-color: blue;
}
.menuicon{
    display: none;
    cursor: pointer;
}
/* ----media query */
@media (max-width:700px){
    nav ul{
        width: 150px;
        background-color: blue;
        padding: 5px;
        position: fixed;
        top: 0;
        right: 0;
       bottom: 0;
       z-index: -1;
      
    }
    .logo img{
        width: 100px;
        padding: 10px 5px;
    }
    nav ul li{
        margin: 30px 10px;
        display: block;
    }
     .menuicon{
        display: block;
        width: 25px;
    }  
     .hidemenu{
        width: 150px;
        background-color: blue;
        padding: 5px;
        position: fixed;
        top: 0;
        right: -150px;
       bottom: 0;
       z-index: -1;

    } 
}




